<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Learn More</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Learn More</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 style= "font-size: 50px; position: relative; left: 600px;">
    Learn More</h1>

  <!-- Articles about what carbon footprint is -->
    <h5 style= "font-size: 25px">
      Learn more about what carbon footprint is and why is it important?</h5>

     <!-- Links to articles-->
    <iframe width="420" height="345" src="https://www.nationalgeographic.com/environment/article/what-is-a-carbon-footprint-how-to-measure-yours">
  </iframe>

    <iframe width="420" height="345" src="https://zenbird.media/what-is-the-importance-of-a-carbon-footprint/">
  </iframe>

    <iframe width="420" height="345" src="https://www.theworldcounts.com/stories/what-does-carbon-footprint-mean">
  </iframe>



    <!-- Articles on effects of carbon emissions on global warming-->
      <h3 style = "font-size: 25px">
      Read up about the effects of carbon emissions on global warming:
      </h3>

    <!-- Links to articles-->
     <iframe width="420" height="345" src="https://news.climate.columbia.edu/2021/02/25/carbon-dioxide-cause-global-warming/">
  </iframe>

    <iframe width="420" height="345" src="https://climate.nasa.gov/vital-signs/carbon-dioxide/">
  </iframe>

    <iframe width="420" height="345" src="https://www.greenmatters.com/p/how-do-carbon-emissions-affect-environment">
  </iframe>


    <!-- Videos + articles on tips to reduce carbon foot print-->
    <h4 style = "font-size: 25px">
      Want to find out how to reduce your own carbon footprint? Watch these videos to find out how:
    </h4>

    <!-- Links to videos+ articles -->
    <iframe width="420" height="345" src="https://www.youtube.com/embed/6r06-dpRsEg">
  </iframe>

    <iframe width="420" height="345" src="https://www.youtube.com/embed/KdiA12KeSL0"></iframe>

    <iframe width="420" height="345" src="https://www.youtube.com/embed/YbEFJd-fJpQ">
  </iframe>

    <iframe width="420" height="345" src="https://www.youtube.com/embed/YbEFJd-fJpQ">
  </iframe>




</ion-content>
