.start{
  padding-left: 20%;
  padding-right: 20%;
  --background:#ad795b;
}

.pic{
padding-left: 20%;
padding-top: 20%;
padding-bottom: 10%;
}

.picture{
  padding-right: 3%;
}

.click{
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 4%;
  --background:#ad795b;
}
