<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Goal Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Goal Setting</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>How to create a goal?</ion-card-title>
      <ion-card-subtitle>Use these parameters to create a SMART goal</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
<img src="./assets/goal1.webp">    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reduce Meat Consumption</ion-card-title>
      <ion-card-subtitle>Try transitioning to a vegan or vegetarian lifesyle, or even just reducing your weekly meet consumption.</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
<img src="./assets/goal2.jpeg">
<ion-label>SMART-C goal and Timeline</ion-label>
    <ion-input placeholder="Enter goal"></ion-input>
    <ion-datetime presentation="month-year" min="2022-12"
    max="2025-12"></ion-datetime>
</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Start Recycling</ion-card-title>
      <ion-card-subtitle>Start recycling 5-10 kgs of paper, metals, plastics, etc. every month and gradually increase it from there.</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
<img src="./assets/goal3.jpeg">
<ion-label>SMART-C goal and Timeline</ion-label>
    <ion-input placeholder="Enter goal"></ion-input>
    <ion-datetime presentation="month-year" min="2022-12"
    max="2025-12"></ion-datetime>
</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Start walking or biking</ion-card-title>
      <ion-card-subtitle>Start walking or biking to school, work or places nearby.</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
<img src="./assets/goal4.jpeg">
<ion-label>SMART-C goal and Timeline</ion-label>
    <ion-input placeholder="Enter goal"></ion-input>
    <ion-datetime presentation="month-year" min="2022-12"
    max="2025-12"></ion-datetime>
</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Start composting</ion-card-title>
      <ion-card-subtitle>Start composting using kitchen wastes such as vegetable peels, spoilt fruit, egg shells, and use it in your very own home garden.</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
<img src="./assets/goal5.webp">
<ion-label>SMART-C goal and Timeline</ion-label>
    <ion-input placeholder="Enter goal"></ion-input>
    <ion-datetime presentation="month-year" min="2022-12"
    max="2025-12"></ion-datetime>
</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Carry a water bottle</ion-card-title>
      <ion-card-subtitle>Start taking a metal water bottle from home whenever you go out and avoid buying one-use plastic water bottles.</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
<img src="./assets/goal6.webp">
<ion-label>SMART-C goal and Timeline</ion-label>
    <ion-input placeholder="Enter goal"></ion-input>
    <ion-datetime presentation="month-year" min="2022-12"
    max="2025-12"></ion-datetime>
</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Use Public Transport</ion-card-title>
      <ion-card-subtitle>If you cannot walk or bike to some places, start using the subway or buses to travel and avoid using personal vehicles like cars.</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
<img src="./assets/goal7.webp">
<ion-label>SMART-C goal and Timeline</ion-label>
    <ion-input placeholder="Enter goal"></ion-input>
    <ion-datetime presentation="month-year" min="2022-12"
    max="2025-12"></ion-datetime>
</ion-card-content>
  </ion-card>





</ion-content>
